@page
@model MyApp.Pages.Account.IndexModel
@{
}

<br />

@if (Model.username.Length == 0)
{
	<div class="align-items-lg-stretch">
	<a class="btn btn-primary btn-lg" href="/Account/UserLogin">Login</a>
	<a class="btn btn-primary btn-lg" href="/Account/Register">Register</a>
	</div>
} else
{
	<h1>Hello @Model.username!</h1>

	<br/>
	<form method="post" >
		<input type="submit" value="Logout" name="Action" />
	</form>
	


}
