@page
@model MyApp.Pages.Account.UserLoginModel
@{
	ViewData["Title"] = "Login -";
}
<head>

</head>

<style>
	.container i {
		
		cursor: pointer;
	}
</style>




<h1>User Login</h1>
<br />

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}


<form method="POST">
	<div class="row mb-3">
		<div class="col-sm-6">
			<input type="text" class="form-control" name="username" placeholder="Username"  value="@Model.username" />
		</div>
	</div>

	<div class="row mb-3">
		<div class="align-items-lg-stretch col-sm-6">
			<input type="password" id="txtPassword" autocomplete="current-password"  class="form-control" name="password" placeholder="Password" value="@Model.password" />
			
		</div>
	</div>

	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>

	<br/>

	<a href="/Account/AdminLogin">Admin Login</a>


</form>

<script type="text/javascript">
	var togglePassword = document.querySelector('#togglePassword');
	var password = document.querySelector('#txtPassword');
	togglePassword.addEventListener('click', function (e) {
		const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
		password.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});
</script>